#clock-container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #5c6652;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clock-left {
    display: flex;
    width: 0;
    min-width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock-right {
    display: flex;
    width: 0;
    min-width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#digit-text {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 64px;
    margin: 5px;
    font-weight: normal;
    word-spacing: -15px;
}

#status-text {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px;
    margin: 0px;
    font-weight: normal;
    align-self: flex-start;
}