@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@600&family=Poppins:ital,wght@0,400;0,500;1,600&family=Wallpoet&display=swap');

.textBox {
    border-color: transparent;
    background-color: transparent;
    font-family: "Markazi Text", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    width: 70%;
    height: 20px;
    align-self: center;
    margin: 0px;
    margin-left: 5%;
    overflow: wrap;
}

.item {
    display: flex;
    flex-direction: row;
}

.checkbox input {
    height: 0;
    width: 0;
}

.checkbox {
    display: block;
    position: relative;
    top: 7px;
    left: 0;
}

.taskItem .checkmark {
    position: absolute;
    height: 7px;
    width: 7px;
    background-color: #b3c0a4;
    border: 2px solid;
    border-color: #4a5043;
    transform: rotate(-45deg);
}

.checkbox:hover input ~ .checkmark {
    background-color: #4a5043;
}

.checkbox input:checked ~ .checkmark {
    background-color: #4a5043;
}

.taskItem .delete-button {
    opacity: 0%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.taskItem:hover .delete-button {
    opacity: 100%;
}
