@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@600&family=Poppins:ital,wght@0,400;0,500;1,600&family=Wallpoet&display=swap');

.dailyTaskList {
    width: 0px;
    min-width: 80%;
    height: 0px;
    min-height: 90%;
    margin: 5%;
    padding: 0em 5% 0em 5%;


    background-color: #c0b4a4;
    border-radius: 15px;
    outline-style: solid;
    outline-color: #c0b4a4;
    outline-width: 2px;
    outline-offset: 2px;

    display: flex;
    flex-direction: column;
}

.dailyTaskList .add-button {
    background-color: transparent;
    font-family: "Markazi Text", Helvetica;
    font-weight: 600;
    color: #5a6650;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    text-align: left;
    width: 100%;
}

.dailyTaskList .Title {
    font-family: "Markazi Text", Helvetica;
    font-weight: 600;
    color: #4a5043;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    text-align: left;
    margin-bottom: 0.2em;
}

.tasks {
    min-height: 50%;
    max-height: 50%; 
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #656d5c;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: #dfd5c8;
    }
}




