@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@600&family=Poppins:ital,wght@0,400;0,500;1,600&family=Wallpoet&display=swap');

.dailyTaskList {
    width: 100%;
    height: 100%;
}

.dailyTaskList .dailies {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotate(0.52deg);
}

.dailyTaskList .overlap {
    position: relative;
    width: 502px;
    height: 289px;
}

.dailyTaskList .rectangle {
    position: absolute;
    width: 499px;
    height: 285px;
    top: 2px;
    left: 1px;
    background-color: #c0b4a4;
    border-radius: 15px;
    transform: rotate(-0.52deg);
}

.dailyTaskList .border {
    position: absolute;
    width: 479px;
    height: 263px;
    top: 8px;
    left: 6px;
    background-color: #c0b4a4;
    border-radius: 10px;
    border: 5px solid;
    border-color: #4a5043;
    transform: rotate(-0.52deg);
}

.dailyTaskList .add-button {
    position: absolute;
    background-color: transparent;
    top: 190px;
    left: 54px;
    font-family: "Markazi Text", Helvetica;
    font-weight: 600;
    color: #5a6650;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.dailyTaskList .Title {
    position: absolute;
    top: 0;
    left: 75px;
    font-family: "Markazi Text", Helvetica;
    font-weight: 600;
    color: #4a5043;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.dailyTaskList .task-group {
    max-height: 250px; /* Adjust this value based on your design */
}

.dailyTaskList .tasks {
    position: absolute;
    top: 60px;
    left: 80px;
    max-height: 135px; 
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #656d5c;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: #dfd5c8;
    }
}




